* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: rgb(196, 208, 255);
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.figure{
    border-style: solid;
    width: 200px;
    height: 200px;
    border-radius: 5%;
}
